{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Create an account
{% endblock %}

{% block content %}


    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Shop</a>
                    <span class="breadcrumb-item active">Create an account</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Login Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <h5 class="section-title position-relative text-uppercase mb-3">
                    <span class="bg-secondary pr-3">Create an account</span>
                </h5>
                <div class="bg-light p-30 mb-5">
                    <h1>Create an account</h1>
                    <p>Please, sign up using the following form:</p>
                    <form method="post">
                        {{ user_form.as_p }}
                        {% csrf_token %}
                        <p><input type="submit" value="Create my account"></p>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <!-- Login End -->

{% endblock %}